<div class="quotes-container">
	<div class="header flex items-center">
		<div class="search-container">
			<mat-form-field class="w-full">
				<input type="text" matInput placeholder="Search" class="form-control" [formControl]="searchFC">
			</mat-form-field>
		</div>

		<button class="btn" (click)="onCreateQuote()">Create</button>
	</div>

	<table class="table mt-3">
		<thead>
			<tr>
				<th class="id-column">#</th>
				<th>Status</th>
				<th>Name</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<tr class="pointer" *ngFor="let quote of quotes" (click)="onRowClick(quote)">
				<td class="id-column">{{ quote.id }}</td>
				<td>
					<div class="status" [class]="quote.status.toLowerCase()">{{ quote.status }}</div>
				</td>
				<td>{{ quote.name}}</td>
				<td>{{ quote.startDate | date:'dd.MM.YYYY' }}</td>
				<td>{{ quote.endDate | date:'dd.MM.YYYY' }}</td>
				<td>
					<span class="material-icons fg-primary action-icon pointer">visibility</span>
				</td>
			</tr>

			<tr *ngIf="!quotes || quotes.length === 0">
				<td colspan="6">No record found</td>
			</tr>
		</tbody>
	</table>
</div>
